---
title: Bits + Bops
layout: page
---

<div class="posts">
    <div class="flex flex-row flex-wrap space-around">
        {% for bit in site.bitsbops %}
        <div class="padding-lr-10 flex flex-col flex-start-align-center">
            <h1 class="post-title">
                <a href="{{ bit.url }}"> {{ bit.title }} </a>
            </h1>
            {% if bit.preview_photo != nil %}
            <img class="img-med" src="{{bit.preview_photo}}" />
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
