---
title: Zines
layout: page
---

<div class="posts">
    <div class="flex flex-row flex-wrap space-around">
        {% for zine in site.zines %}
        <div class="padding-lr-10 flex flex-col flex-start-align-center">
            <h1 class="post-title">
                <a href="{{ zine.url }}"> {{ zine.title }} </a>
            </h1>
            {% if zine.preview_photo != nil %}
            <img class="img-med" src="{{zine.preview_photo}}" />
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
